### Import Libraries

In [3]:
import pandas as pd
import keras
import tabulate as tb
import numpy as np

gpus = keras.backend._get_available_gpus()

if len(gpus) == 0:
    print("No GPU's Available")
else:
    print(gpus)

No GPU's Available

### Read CSV File

In [25]:
dataset_dir = "Dataset/MovieAll.csv"
df = pd.read_csv(dataset_dir)
df

,Unnamed: 0,movieId,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,...,vote_average,vote_count,userId,rating,timestamp,imdbId,tmdbId,cast,crew,keywords
0,1,100,False,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",http://www.universalstudiosentertainment.com/l...,tt0120735,en,"Lock, Stock and Two Smoking Barrels",...,7.5,1671,55,3.0,855927437,115907,11062.0,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n..."
1,2,100,False,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",http://www.universalstudiosentertainment.com/l...,tt0120735,en,"Lock, Stock and Two Smoking Barrels",...,7.5,1671,311,3.0,898008040,115907,11062.0,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n..."
2,3,100,False,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",http://www.universalstudiosentertainment.com/l...,tt0120735,en,"Lock, Stock and Two Smoking Barrels",...,7.5,1671,162,3.0,852792221,115907,11062.0,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n..."
3,4,100,False,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",http://www.universalstudiosentertainment.com/l...,tt0120735,en,"Lock, Stock and Two Smoking Barrels",...,7.5,1671,511,5.0,829351964,115907,11062.0,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n..."
4,5,100,False,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",http://www.universalstudiosentertainment.com/l...,tt0120735,en,"Lock, Stock and Two Smoking Barrels",...,7.5,1671,256,3.0,851862443,115907,11062.0,"[{'cast_id': 12, 'character': 'Tom', 'credit_i...","[{'credit_id': '52fe4217c3a36847f80035c1', 'de...","[{'id': 502, 'name': 'ambush'}, {'id': 567, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45037,45038,996,False,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0036775,en,Double Indemnity,...,8.0,425,534,4.0,973376255,116830,9333.0,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ..."
45038,45039,996,False,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0036775,en,Double Indemnity,...,8.0,425,362,2.0,1218567324,116830,9333.0,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ..."
45039,45040,996,False,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0036775,en,Double Indemnity,...,8.0,425,119,3.0,913232992,116830,9333.0,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ..."
45040,45041,996,False,NaN,927262,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0036775,en,Double Indemnity,...,8.0,425,105,3.0,1086274277,116830,9333.0,"[{'cast_id': 13, 'character': 'Walter Neff', '...","[{'credit_id': '52fe4298c3a36847f802ad8b', 'de...","[{'id': 236, 'name': 'suicide'}, {'id': 3973, ..."
45041,45042,99846,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0076409,en,Moonshine County Express,...,0.0,0,624,3.0,1361017948,2366308,135921.0,"[{'cast_id': 2, 'character': 'J.B. Johnson', '...","[{'credit_id': '58f402b9c3a3680867019e4e', 'de...","[{'id': 531, 'name': 'southern usa'}, {'id': 7..."

In [24]:
df.columns.values

array(['Unnamed: 0', 'movieId', 'adult', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'video', 'vote_average', 'vote_count', 'userId', 'rating',
       'timestamp', 'imdbId', 'tmdbId', 'cast', 'crew', 'keywords'],
      dtype=object)

#### Independant Variables for Classifcation:
* Casting Credits
* Overview
* Genre
* Budget
* Ratings
* Collection
* Original_title
--------------
#### Dependant Variable for classification

* liked_movie
--------------

#### Filtered based on

* UserID